<head>
    <link rel="stylesheet" type="text/css" href="css/leaderboard.css"/>
</head>
<body style="position: relative; z-index: 9999;">
    <div>
        <table>
            <tbody>
                <tr>
                    <td class="glow">Name</td>
                    <td class="glow">Score</td>
                </tr>
                <tr>
                <% if(data.length) { for(var i =0; i < data.length; i++) { %>
                    <td class="glow"><%= data[i].name %></td>
                    <td class="glow"><%= data[i].score %></td>
                <%}} else {%>
                    <td>                 </td>
                    <td>                 </td>
                <% } %>
                </tr>
            </tbody>
        </table>

        <% if(data.length == 0) { %>
            <p style="color: white;">No one has completed any tasks</p>
            <h3 style="color:aliceblue;">BE THE FIRST</h3>
        <% } %>
    </div>
</body>