:root{
    --hot-pink: #ff00b3;
}
table, td, tr{
    border: 3pt solid black;
    border-collapse: collapse;
    padding-left: 100pt;
    padding-right: 100pt;
    font-family: consolas;
    font-size: large;
    color:aliceblue;
    background-color: rgba(40, 12, 66, 0.733);
}
body{
    background-color: transparent;
    background-blend-mode: color-burn;
    background-size: auto;
    background-attachment: local;

    animation:
        dean-norris 10s linear infinite,
        dean-norris-bg 20s linear infinite
        ;
}
#particles-js
{
    background-color: #17014d;
    height: 100vh;
}

.glow{
    animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
    from{
        text-shadow: 0 0 10pt #ffffff, 0 0 20pt #ffffffff;
    }
    to{
        text-shadow: 0 0 10pt #ffffff93, 0 0 20pt #ffffff93;
    }
}